.weather-error {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__message {
        color: $warning;
        font-weight: 500;
        margin-bottom: 16px;
    }

    &__reload {
        background-color: transparent;
        border-radius: 20px;
        border: 2px solid $dark-grey;
        color: $dark-grey;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        padding: 10px 16px;
    }
}