.weather-card {
    background-color: $white;
    border-radius: 4px;
    box-shadow: 3px 3px 8px 2px $box-shadow;
    cursor: pointer;

    &--with-error {
        cursor: auto;
    }

    &__header {
        border-bottom: 1px solid $divider;
        padding: 15px;
    }

    &__title {
        color: $dark-grey;
        font-size: 20px;
        font-weight: 500;
        margin: 0;
        text-align: center;
    }

    &__temperature {
        color: $normal-temperature;
        display: block;
        font-size: 92px;
        font-weight: 500;
        padding: 15px;
        text-align: center;

        &--cold {
            color: $cold-temperature;
        }

        &--hot {
            color: $hot-temperature;
        }
    }

    &__additional-infos {
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
    }

    &__additional-info {
        text-align: center;
        color: $grey;
        width: 50%;
        font-size: 12px;

        strong {
            font-size: 16px;
            font-weight: 700;
            color: $dark-grey;
        }

        span {
            color: $grey;
            display: block;
            font-size: 14px;
            text-transform: uppercase;
            margin-bottom: 4px;
        }
    }

    &__footer {
        background-color: $card-footer-bg;
        padding: 15px;
    }

    &__updated {
        color: $grey;
        display: block;
        font-size: 10px;
        text-align: center;
    }

    .app-loading {
        height: 175px;
        align-items: center;
    }

    .weather-error {
        height: 175px;
        align-items: center;
    }
}
