.cards-container {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 70px);
    justify-content: space-between;
    max-width: 1020px;
    width: 100%;

    .weather-card {
        max-width: 300px;
        width: 100%;
        margin: 20px;
        min-height: 230px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }
}
