// colors
$white: #ffffff;
$grey: #B4B4B4;
$dark-grey: #737c84;
$warning: #ed1946;

// app
$app-bg: #f1f1f1;
$card-footer-bg: rgba($app-bg, 0.5);
$divider: #ebebeb;
$box-shadow: rgba(#333333, 0.1);

// cards
$cold-temperature: #69a3ff;
$normal-temperature: #ff9632;
$hot-temperature: $warning;
